#!/bin/bash

set -efo pipefail

TMP=$(mktemp -d)
REBAR3=$TMP/rebar3
ERL_VSN={{ index (.languages.erlang | sortAlpha | reverse) 0 }}

trap 'rm -rf -- "$TMP"' EXIT

curl -fsSL https://s3.amazonaws.com/rebar3/rebar3 -o $REBAR3
chmod +x $REBAR3
source $HOME/.asdf/installs/erlang/$ERL_VSN/activate
$REBAR3 local install
