#!/bin/bash

set -eufo pipefail

{{ with dig "languages" dict . -}}
# hash: {{ toJson . | sha256sum }}

{{ range $lang, $versions := . -}}
asdf plugin-add {{ $lang }} 2>/dev/null || true
{{ range $versions -}}
asdf install {{ $lang }} {{ . }}
{{ end -}}
{{ end -}}
{{ end -}}
