{{ $email := promptStringOnce . "email" "Email address" "miquecg@users.noreply.github.com" -}}
{{ $isPersonal := promptBoolOnce . "isPersonal" "Personal machine" true -}}

[data]
  email = {{ $email | quote }}
  isPersonal = {{ $isPersonal }}

[data.languages]
  elixir = ["1.14.3-otp-24", "1.14.3-otp-25"]
  erlang = ["24.3.4.7", "25.2"]
  gleam = []
  nodejs = ["19.4.0"]
